<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Add Contact</ion-title>
    <ion-button slot="start" size="small" fill="clear" (click)="backButton()">
        <ion-icon name="chevron-back-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Add Contact</ion-title>
    </ion-toolbar>
  </ion-header>

  <app-all-user-list [contacts]="contacts"></app-all-user-list>

  <br>

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
</ion-content>
