<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title slot="start">
      Contacts
    </ion-title>
    <ion-button slot="end" size="small" fill="clear" (click)="addContact()" *ngIf="showButton">
        <ion-icon name="person-add-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" [scrollEvents]="true" (ionScroll)="onScroll($event)">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Contacts</ion-title>
      <ion-button slot="end" fill="clear" (click)="addContact()">
          <ion-icon name="person-add-outline"></ion-icon>
      </ion-button>
    </ion-toolbar>
  </ion-header>

  <app-explore-container *ngIf="empty" name="Contact Empty" navigate="tabs/contact/add-contact"></app-explore-container>

  <ion-list>
    <ion-item-sliding *ngFor="let item of itemList">
      <ion-item (click)="contactClick(item)">
        <ion-avatar class="ion-margin-vertical ion-margin-end">
          <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada774{{item}}?d=identicon&f=y">
        </ion-avatar>
        <ion-label>User {{item}}</ion-label>
        <ion-note slot="end">
          <ion-text color="success" *ngIf="isOnline; else lastOnline">
            <small>online</small>
          </ion-text>
          <ng-template #lastOnline>
            <ion-text color="medium">
              <small>10:45 AM</small>
            </ion-text>
          </ng-template>
        </ion-note>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option (click)="contactClick(item)">Open</ion-item-option>
        <ion-item-option (click)="contactArsip(item)" color="danger">Delete</ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  <br>
</ion-content>
