<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="default" slot="start">
      Contacts
    </ion-title>
    <ion-button slot="end" size="small" fill="clear" (click)="addContact()" *ngIf="showButton">
        <ion-icon name="person-add-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" [scrollEvents]="true" (ionScroll)="onScroll($event)">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Contacts</ion-title>
      <ion-button slot="end" fill="clear" (click)="addContact()">
          <ion-icon name="person-add-outline"></ion-icon>
      </ion-button>
    </ion-toolbar>
  </ion-header>

  <app-explore-container *ngIf="empty" name="Contact Empty" navigate="tabs/contact/add-contact"></app-explore-container>

  <ion-item id="open-modal-add-group" class="pointer">
    <ion-icon name="people-outline" class="ion-margin-vertical ion-margin-horizontal"></ion-icon>
    <ion-label>Create Group</ion-label>
  </ion-item>
  <app-add-group-modal [contacts]="contacts"></app-add-group-modal>

  <app-all-contact-list [contacts]="contacts" [isOnline]="isOnline"></app-all-contact-list>

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
</ion-content>
